<% custom_js = `<script src='/js/employees.js'></script>
<script src='/js/confirm_dialog.js'></script>` %>
<% include ../components/add_employee_dialog %>
<% include ../components/edit_employee_dialog %>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">List of employees</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <button type="submit" class="btn btn-primary mb-5" id="btnadd" name="btnadd" data-toggle="modal"
            data-target="#addEmployeeModal">
            <i class="fa fa-plus"></i> Add employee
          </button>
          <table id="tableEmployees" class="table table-bordered table-striped" style="width:100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Email</th>
                <th>Department</th>
                <th>Position</th>
                <th>Is Manager</th>
                <th>Tax Code</th>
                <th>Salary</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
