<% custom_js = `<script src='/js/me.js'></script>
<script src='/js/confirm_dialog.js'></script>` %>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Employee information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div style="text-align: center; padding: 10px;" class="col-md-4">
              <img src="/img/unknow.jpg" alt="Avatar" class="avatar">
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                  <h1 style="font-weight: bold;"><%= info.NAME %></h1>
                  <h3 style="margin-top: 0;"><%= info.POSITION %></h3>
                </div>
              </div>
              <div class="row user-detail">
                <div class="col-md-2">
                  <p class="info-label">Username:</p>
                </div>
                <div class="col-md-10">
                  <p><%= info.USERNAME %></p>
                </div>
                <div class="col-md-2 ">
                  <p class="info-label">Email:</p>
                </div>
                <div class="col-md-10">
                  <p><%= info.EMAIL %></p>
                </div>
                <div class="col-md-2">
                  <p class="info-label">Department:</p>
                </div>
                <div class="col-md-10">
                  <p><%= info.DEPARTMENT %></p>
                </div>
                <div class="col-md-2">
                  <p class="info-label">Birthday:</p>
                </div>
                <div class="col-md-10">
                  <p><%= info.BIRTH %></p>
                </div>
                <div class="col-md-2">
                  <p class="info-label">Taxcode:</p>
                </div>
                <div class="col-md-10">
                  <p><%= info.TAXCODE %></p>
                </div>
                <div class="col-md-2">
                  <p class="info-label">Salary:</p>
                </div>
                <div class="col-md-10">
                  <p><%= info.SALARY %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
</section>
