.login-box,
.register-box {
  margin: 0 auto !important;
  padding-top: 10%;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.rounded {
  border-radius: 0.25rem !important;
}

i#loading-icon {
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  margin-top: -25px;
  margin-left: -25px;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.loading-overlay.active {
  display: block;
}

.show-pasword {
  background: #feca57;
  border: 2px #ff9f43 dashed;
  width: 100%;
  margin: 0 auto;
}

.avatar {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  padding: 10px;
}

.user-detail {
  color: #7f8c8d !important;
  font-size: 16px;
  padding-top: 10px;
}

.info-label {
  font-weight: bold;
}

.table-striped > tbody > tr:hover {
  background-color: #ecf0f1;
}

.modal-danger .modal-body,
.modal-danger .modal-footer {
  background: #fff !important;
  color: #333 !important;
}
