<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <%= menu[page_id].name %>
    <small><%= menu[page_id].desc %></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active"><%= menu[page_id].name %></li>
  </ol>
</section>
