<div id="createServiceAccountModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content rounded shadow">
      <div class="modal-header" style="background: #3c8dbc">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="color: #fff">Create service account</h3>
      </div>
      <div class="modal-body">
        <div class="tab-content px-4">
            <div class="tab-pane active" id="inputServiceAccountForm">
                <form action="">
                    <div class="form-group m-0" style="overflow: auto">
                      <label for="inputAccount" class="control-label col-sm-3">Account</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputAccount">
                        <p class="pt-2">Input your account name.</p>
                      </div>
                    </div>
                    <div class="form-group m-0" style="overflow: auto">
                      <label for="inputService" class="control-label col-sm-3">Select service</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputService">
                        <p class="pt-2 mb-0">Input the service name which the account belong to.</p>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="tab-pane" id="resultServiceAccount">
              <h4 class="mb-3">Your service account information</h4>
              <div class="row mb-3">
                <div class="col-sm-3 text-right"><b>Account:</b></div>
                <div class="col-sm-9" id="txtAccount">Test</div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3 text-right"><b>Service:</b></div>
                <div class="col-sm-9" id="txtService">Service2</div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3 text-right"><b>Created at:</b></div>
                <div class="col-sm-9" id="txtCreatedAt">June 26th 2019</div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12">
                  <div class="mb-3 show-pasword text-center">
                    <h2 class="my-3" id="txtPasswordText">password</h2>
                  </div>
                </div>
              </div>
                <p>Note: This password will not be displayed again.</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnGenPwd" style="width: 150px" class="btn btn-primary">Generate password</button>
        <button type="button" id="btnCloseServiceAccount" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <div class="loading-overlay">
        <i class="fa fa-spinner fa-pulse fa-fw" id="loading-icon"></i>
      </div>
    </div>
  </div>
</div>
