<div id="editEmployeeModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content rounded shadow">
      <div class="modal-header" style="background: #3c8dbc">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="color: #fff">Update employee</h3>
      </div>
      <div class="modal-body">
        <div class="tab-content px-4">
          <div class="tab-pane active" id="inputUpdateEmployeeForm">
            <form action="">
              <div class="form-group mb-3" style="overflow: auto">
                <label class="control-label col-sm-3">Username</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" class="form-control" id="inputNewUsername" placeholder="Username" disabled>
                    <span class="input-group-addon">
                      <i class="fa fa-user fa-fw"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3" style="overflow: auto">
                <label class="control-label col-sm-3">Fullname</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text " class="form-control" id="inputNewFullname" placeholder="Full name">
                    <span class="input-group-addon">
                      <i class="fa fa-user fa-fw"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3" style="overflow: auto">
                <label class="control-label col-sm-3">Birthday</label>
                <div class="col-sm-9">
                  <div class="input-group date input-date" data-date-format="yyyy/mm/dd">
                    <input type="text" class="form-control" id="inputNewBirthday" placeholder="Your birthday" />
                    <span class="input-group-addon">
                      <i class="fa fa-calendar fa-fw"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3" style="overflow: auto">
                <label class="control-label col-sm-3">Email</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="email" class="form-control" id="inputNewEmail" placeholder="Your email address">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope fa-fw"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group mb-3" style="overflow: auto">
                <label class="control-label col-sm-3">Position</label>
                <div class="col-sm-9">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" id="inputNewJobTitle" placeholder="Job title">
                    <span class="input-group-addon">
                      <i class="fa fa-briefcase fa-fw"></i>
                    </span>
                  </div>
                  <input type="checkbox" id="inputNewIsmanager">
                  <span for="inputIsmanager">Manager</span>
                </div>
              </div>
              <div class="form-group mb-3" style="overflow: auto">
                <label class="control-label col-sm-3">Department</label>
                <div class="col-sm-9">
                  <select class="form-control" id="inputNewDeparment">
                    <option value="1">FINANCE</option>
                    <option value="2">HUMAN RESOURCE</option>
                    <option value="3">SALES AND MARKETING</option>
                    <option value="4">TECHNICAL</option>
                  </select>
                </div>
              </div>
              <div class="form-group mb-3" style="overflow: auto">
                <label class="control-label col-sm-3">Taxcode</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputNewTaxcode" placeholder="Taxcode">
                </div>
              </div>
              <div class="form-group mb-3" style="overflow: auto">
                <label class="control-label col-sm-3">Salary</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputNewSalary" placeholder="Salary">
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane" id="resultUpdateEmployee">
            <h4 class="mb-3">Employee information</h4>
            <div class="row mb-3">
              <div class="col-sm-3 text-right"><b>Username:</b></div>
              <div class="col-sm-9" id="txtNewUsername">Test</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3 text-right"><b>Fullname:</b></div>
              <div class="col-sm-9" id="txtNewFullname">Service2</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3 text-right"><b>Department:</b></div>
              <div class="col-sm-9" id="txtNewDepartment">Service2</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3 text-right"><b>Job Title</b></div>
              <div class="col-sm-9" id="txtNewJobTitle">June 26th 2019</div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3 text-right"><b>Password</b></div>
              <div class="col-sm-9" id="txtNewPasswordText">Your choosen password</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnUpdateEmployee" style="width: 150px" class="btn btn-primary">Update
          employee</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <div class="loading-overlay">
        <i class="fa fa-spinner fa-pulse fa-fw" id="loading-icon"></i>
      </div>
    </div>
  </div>
</div>
