<% if (error > 0) { %>
<div id="warning" class="callout callout-danger">
  <h4>Error!</h4>
  <div id="warning_message">
    <% if (error == 1) { %>Invalid request.<% } %>
    <% if (error == 2) { %>Wrong username or password<% } %>
    <% if (error == 3) { %>Ticket not found or expried.<% } %>
    <% if (error == 4) { %>Session expried.<% } %>
    <% if (error == 5) { %>Internal server error.<% } %>
  </div>
</div>
<% } %>
