<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <% include sidebar_userinfo.ejs %>

    <!-- search form (Optional) -->
    <!-- <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
      </div>
    </form> -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU</li>

      <!-- Optionally, you can add icons to the links -->
      <% Object.keys(menu).forEach(key => { item = menu[key] %>
      <li <% if (key == page_id) { %>class="active" <% } %>>
        <a href="<%= key %>"><i class="fa <%= item.icon %>"></i> <span><%= item.name %></span></a>
      </li>
      <% }) %>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
