<div id="resetServiceAccountModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content rounded shadow">
      <div class="modal-header" style="background: #3c8dbc">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title" style="color: #fff">Reset service account</h3>
      </div>
      <div class="modal-body">
        <div class="tab-content px-4">
            <div class="tab-pane active" id="confirmResetSA">
              <h4>Do you want to reset password for this service account?</h4>
            </div>
            <div class="tab-pane" id="resultResetSA">
              <h4 class="mb-3">Your service account information</h4>
              <div class="row mb-3">
                <div class="col-sm-3 text-right"><b>Account:</b></div>
                <div class="col-sm-9" id="txtAccountResetSA">Test</div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3 text-right"><b>Service:</b></div>
                <div class="col-sm-9" id="txtServiceResetSA">Service2</div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3 text-right"><b>Last update:</b></div>
                <div class="col-sm-9" id="txtCreatedAtResetSA">June 26th 2019</div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12">
                  <div class="mb-3 show-pasword text-center">
                    <h2 class="my-3" id="txtPasswordTextResetSA">password</h2>
                  </div>
                </div>
              </div>
                <p>Note: This password will not be displayed again.</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnResetSA" style="width: 150px" class="btn btn-primary">Reset passwod</button>
        <button type="button" id="btnCloseResetSA" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <div class="loading-overlay">
        <i class="fa fa-spinner fa-pulse fa-fw" id="loading-icon"></i>
      </div>
    </div>
  </div>
</div>
