<!-- Sidebar user panel (optional) -->
<div class="user-panel">
  <div class="pull-left image">
    <img src="/img/unknow.jpg" class="img-circle" alt="User Image">
  </div>
  <div class="pull-left info">
    <p><%= user.NAME %></p>
    <!-- Status -->
    <a href="#"><i class="fa fa-envelope"></i> <%= user.EMAIL %></a>
  </div>
</div>
