<% custom_js = '' %>
<%- include header %>

<div class="wrapper">

  <% include components/main_header %>

  <%- include('components/main_sidebar', {page_id}) %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%- include('components/content_header', {page_id}) %>

    <!-- Main content -->
    <%- include(`content/${page_id}`) %>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <% include components/main_footer %>

</div>
<!-- ./wrapper -->
<% include footer %>
