	
	

		
<div class="card">
	<div class="card-body">	
			<div class="container-fluid">
			<main>
					<div class="ui-g-12 ui-md-12">
							<div class="ui-g">
									<div class = "ui-g-12 ui-sm-12" style="padding: 2em;border-bottom: 1px solid #d9d9d9;">
											<section >
													<img src="../../../assets/img/3.gif" alt="" class="billboard" title=""/>
											</section>
									</div>
									<div class ="ui-g-12 ui-sm-12">
											<section   id="cta_top" style="display:block">
													<p id="cta_top_p">Trang web download phần mềm <b style="color:turquoise">miễn phí an toàn</b>. Không chứa virus, phần mềm nguy hiểm.</p>
													<a id="cta_top_a" [routerLink]="['/quanlyphongban']">Hãy download ngay!!!</a>
											</section>
									</div>
									
								</div>
					</div>
					
					<div class="ui-g-12 ui-md-12" style="margin-top:100px">
							<div class="ui-g">
									<div class ="ui-g-12 ui-sm-12">
											<section  style="text-align:center">
													<h1>Top phần mềm ứng dụng được dowload nhiều nhất</h1>
											</section>
									</div>
									<div class ="ui-g-12 ui-md-12 separator">
											<img src="../../../assets/img/separator.png" alt=""/>
									</div>	
									<div class="ui-g services wrapper">
										<div class="ui-md-4">
												<a href="../../../assets/download/Facebook.exe" download><img class="s_icons1" src="../../../assets/img/Facebook.jpg" alt=""/></a>
												<h3>Mạng xã hội</h3>
												<p> Nơi kết nối mọi người ở mọi nơi lại với nhau</p>
												<p></p>
												<p><img src="../../../assets/img/downl.jpg" alt=""/><b>3698234 lượt tải</b></p>
										</div>
										<div class="ui-md-4">
												<a href="../../../assets/download/GoogleChrome.exe"><img class="s_icons2" src="../../../assets/img/google.gif" alt=""/></a>
												<h3>Công cụ tìm kiếm</h3>
												<p>Chuyên về các dịch vụ và sản phẩm liên quan đến Internet, bao gồm các công nghệ quảng cáo trực tuyến, công cụ tìm kiếm, điện toán đám mây, phần mềm và phần cứng</p>
												<p></p>
												<p><img src="../../../assets/img/downl.jpg" alt=""/><b>3600234 lượt tải</b></p>
										</div>
										<div class="ui-md-4">
												<a href="../../../assets/download/Youtube.exe" download><img class="s_icons" src="../../../assets/img/youtube.jpeg" alt=""/></a>
												<h3>Chia sẻ video</h3>
												<p>Có thể tải lên hoặc tải về máy tính hay điện thoại và chia sẻ các video clip.</p>
												<p></p>
												<p><img src="../../../assets/img/downl.jpg" alt=""/><b>2663999 lượt tải</b></p>
										</div>			
									</div>
									<div class ="ui-g-12 ui-sm-12">
											<div class="recent_work">
													<div class="work">
														<a href=""><img src="../../../assets/img/1.jpg" alt=""></a>
													</div>
													<div class="work">
														<a href=""><img src="../../../assets/img/2.png" alt=""></a>
													</div>
													<div class="work">
														<a href=""><img src="../../../assets/img/6.jpg" alt=""></a>
													</div>
													<div class="work">
														<a href=""><img src="../../../assets/img/4.png" alt=""></a>
													</div>
													<div class="work">
														<a href=""><img src="../../../assets/img/5.jpg" alt=""></a>
													</div>
												</div>
									</div>
									<div class = "ui-g-12 ui-md-12 testimonials wrapper">
											<div ><h3>THÀNH VIÊN</h3></div>
											<div class="ui-md-4 testi_boxs">
													<img class="avatar" src="../../../assets/img/bkhcm.jpg" alt=""/>
													<h2>Ngô Hoàng Ngọc Thanh</h2>
													<p>1827030</p>
											</div>
											<div class="ui-md-4 testi_boxs">
													<img class="avatar" src="../../../assets/img/bkhcm.jpg" alt=""/>
													<h2>Nguyễn Duy Việt Toàn</h2>
													<p>1513539</p>
											</div>
											<div class="ui-md-4 testi_boxs">
													<img class="avatar" src="../../../assets/img/bkhcm.jpg" alt=""/>
													<h2>Lê Kỳ Vọng</h2>
													<p>1414721</p>
											</div>
									</div>
									<div class="ui-g">
											<section class="clients">
													<div class="wrapper">
														<marquee class="left">Phần mềm miễn phí cung cấp trải nghiệm mượt mà chưa từng có !!!</marquee>
													</div>
											</section>
									</div>
							</div>
						</div>
			
				
				
				
				
				
					</main>
			</div>
				
			
				
	</div>
</div>
